<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <title>Index</title>
    <link href="~/CSS/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body data-ng-app="app">
    <div class="container" data-ng-controller="listasController">
        <div class="row">
            <div class="col-sm-12">
                <header>
                    <div class="jumbotron">
                        <h1>Todo Angular</h1>
                        <p>
                            Repositorio de enlaces para aprender todo sobre el Framework para hacer MVW del lado del cliente.
                            Gracias a la lista de recursos proporcionada por Jeff Cunningham.
                        </p>
                        <p><a href="https://github.com/jmcunningham/AngularJS-Learning" class="btn btn-primary btn-lg">Visitar el Repositorio</a></p>
                    </div>
                </header>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="well">
                    <form class="bs-example form-horizontal">
                        <fieldset>
                            <legend></legend>
                            <div class="form-group">
                                <div class="col-lg-12">
                                    <input data-ng-keydown="KeyDownFiltro()" data-ng-model="search.nombre" type="text" class="form-control input-lg" id="inputFiltro" placeholder="Buscar Enlace">
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="Items" style="display: none;">
                    <div class="row Item" data-ng-class="setClass($index, item)" data-ng-repeat="_enlace in (enlaces| myFilter:3)">
                        <div class="col-sm-4"  data-ng-repeat="enlace in (enlaces | mySecondFilter:_enlace:3 | filter:search)">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3>{{enlace.nombre}}</h3>
                                </div>
                                <div class="panel-body row">
                                    <div class="col-sm-3">
                                        <a href="{{enlace.link}}" class="btn">Visitar Enlace</a>
                                    </div>
                                    <div class="puntuacion pull-right col-sm-7 col-sm-offset-1" data-ng-switch on="enlace.numeroPuntuaciones">
                                        <span ng-switch-default style="font-size: 2em; vertical-align: middle;" class="puntuacion">{{ enlace.puntuacion / enlace.numeroPuntuaciones | number:1}} <small style="font-size: .5em;">pts.</small></span>
                                        <span ng-switch-when="1" style="font-size: 2em; vertical-align: middle;" class="puntuacion">----&nbsp;<small style="font-size: .5em;">pts.&nbsp;&nbsp;&nbsp;&nbsp;</small></span>
                                        <button class="btn btn-primary puntuar">Puntuar</button>
                                    </div>
                                </div>
                                <div class="panel-body puntuando">
                                    <div class="row">
                                        <div class="col-sm-2">
                                            <a data-ng-click="enviarPuntuacion($event)" class="btn puntuar">Puntuar</a>
                                        </div>
                                        <div class="puntuacion col-sm-9 col-sm-offset-1">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <span style="font-size: 2em;" class="puntuacion">10<small style="font-size: .5em;"> pts.</small></span>
                                                </div>
                                                <div class="col-sm-6">
                                                    <input style="margin-top: 1em;" class="rango" value="10" type="range" min="0" max="10" step=".1" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <script src="~/Scripts/Libs/JQuery/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/Libs/Angular/angular.min.js"></script>
    <script src="~/Scripts/Libs/Angular/angular-route.min.js"></script>
    <script src="~/Scripts/Libs/Angular/angular-animate.min.js"></script>
    <script src="~/app/app.js"></script>    
</body>
</html>
