.3d-buttons(@color : "black")
{
  background-color: @color;
  border-color: @color;
  border: none;
  box-shadow: inset -1px -3px 0 darken(@color, 10%);
}


.btn-danger
{
    .3d-buttons(#e74c3c)
}

.btn-info
{
    .3d-buttons(#3498db)
}

.btn-warning
{
    .3d-buttons(#f39c12)
}

.btn-success
{
    .3d-buttons(#18bc9c)
}

.btn-primary
{
    .3d-buttons(#2c3e50)
}

.puntuando
{
    display: none;
}
