@model WebScraping.Controllers.RegisterExternalLoginModel
@{
    ViewBag.Title = "ExternalLoginConfirmation";
}

<h2>ExternalLoginConfirmation</h2>
<p>
    @Model.UserName
</p>
<p>
    @Model.ExternalLoginData

</p>
