@using Microsoft.Web.WebPages.OAuth;
@model ICollection<AuthenticationClientData>

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logon</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("ExternalLogin", "Autenticacion", new { ReturnUrl = ViewBag.ReturnUrl }))
        {
            @Html.AntiForgeryToken()
            <p>
                @foreach (AuthenticationClientData p in Model)
                {
                    <button type="submit" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">@p.DisplayName</button>
                }
            </p>
        }
    </div>
</body>
</html>
